<h3> Filter Section </h3>
Filter by Doctor : <select (change)="selectDoctorOnChange($event.target)" ng-model="selectedDoctor" >
  <option ng-repeat="d:Doctor in DoctorList" ng-value="{{d}}">{{d.name}}</option>
</select><br/> 
Filter by Patient : <select (change)="selectPatientOnChange($event.target)" ng-model="selectedPatient" >
  <option ng-repeat="p:Patient in PatientList" ng-value="{{p}}">{{p.name}}</option>
</select>
<h2>Appointments' List</h2>
<h3 align="right">Last Triggered Time :{{TriggerTime}}</h3>
<ul >
  <li *ngFor="let appointment of Result" >
    <h4>{{appointment.name}}</h4>
    <span>{{appointment.HasConflict}}</span>
    <div>
        <!--<ul>
            <li *ngFor="let vehicle of customer.Vehicles">
                <span class="badge">{{vehicle.VehicleId}}</span><br/>
                <span>{{vehicle.RegId}}</span> <br/>
                <span  *ngIf="vehicle.Status">{{vehicle.LastStatusTime}}</span>
            </li>
        </ul>
        <div class="card-group">
        <div class="card text-white mb-3 {{vehicle.status ? 'bg-success' : 'bg-danger'}}" style="width: 18rem;" *ngFor="let vehicle of customer.vehicles">
          <img src="../../assets/images/final1988-red-car.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vehicle Reg ID : {{vehicle.regid}}</h5>
            <p class="card-text"> Vehicle ID : {{vehicle.vin}}</p>
            <span  *ngIf="vehicle.Status">Last Status sent : {{vehicle.laststatustime}}</span>
          </div>
        </div>
        </div>-->
    </div>
  </li>
</ul>